@import url(http://cs.nccu.edu.tw/~jonesyu/960gs/code/css/reset.css);
@import url(http://cs.nccu.edu.tw/~jonesyu/960gs/code/css/960.css);
@import url(http://cs.nccu.edu.tw/~jonesyu/960gs/code/css/text.css);
@import url(http://fonts.googleapis.com/css?family=Oswald);
body{
	background: url(skulls.png);
	background-position: center center; 
}
img{
	padding-left: 60px;	
}
h2{
	font-family: 'Roboto', sans-serif;
	padding-top:1em;
	margin-bottom:10px;   
	text-align:center;
}
input{
	margin-left: 440px;
	font-family: 'Roboto', sans-serif;
}
.email{
<<<<<<< HEAD
	margin-left: -90px;
=======
	margin-left: -94px;
>>>>>>> bbb04f09d7a5d17914d5c65062b1ad63be3f454b
}
.submit{
    margin-left:15px; 
}
.select{
	text-align:center; 
}
.comments{
<<<<<<< HEAD
	padding-left:340px; 
=======
>>>>>>> bbb04f09d7a5d17914d5c65062b1ad63be3f454b
	 resize: vertical; 
}
form{
	margin-bottom:10em; 
}
footer{
  text-align:center;
  font-size:12px;
  font-family: 微軟正黑體;
}
